html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

.explore-container {
  width: 100vw;

}

.explore-heading {
  text-align: center;
  margin-bottom: 50px;
}

.explore-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 6rem;
}

.explore-heading span {
  color: #64a47c;
}


.explore-box {
  width: 25%;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  font-size: small;
  margin-top: 10px;
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.explore-box a {
  text-decoration: none;
}



.explore-img {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.explore-indirow-img-1 {
  width: 180px;
  height: auto;
}

.explore-indibook-img-2 {
  width: 200px;
  height: auto;
}

.explore-indirow-container {
  padding: 20px;
}

.content p {
  color: #000000;
  font-size: 14px;
  text-align: justify;
}

.explore-social img {
  width: 30px;
  height: 30px;
}

.explore-social img:hover {
  border: 1px solid #64a47c;
  border-radius: 2px;
}

.explore-indirow-container .content {
  margin-bottom: 10px;
}

hr {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 10px 0;
}

.custom-line {
  border: 5px solid var(--cta-btn-bg);
  border-radius: 10px;
  margin: 10px 0;
}

.explore-box:hover {
  transform: scale(1.02);

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

  cursor: pointer;
  border: 1px solid #64a47c;
}


@media (max-width: 992px) {
  .explore-box {
    width: 75%;
  }

  .custom-line {
    display: none;
  }
}

@media (max-width: 768px) {
  .explore-cards {
    margin: 1rem;
    width: auto;
  }

  .explore-box {
    width: 100%;
  }

  .custom-line {
    display: none;
  }
}

@media (max-width: 576px) {
  .explore-cards {
    margin: 1rem;
    width: auto;
  }

  .explore-box {
    width: 100%;
  }

  .custom-line {
    display: none;
  }
}
